{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title" align="center">UNITS</h3>
              </div>
              <div class="panel-body" align="center">
                {% for unit in units %}
                <div class="row">
                  <a href="{% url 'unit' unit.id %}"><input value="{{ unit.name }}" class="btn btn-primary btn-sm" readonly></a>
                  <input value="{{unit.price}} $" class="btn btn-success btn-sm" readonly style="border: 0px;">
                </div>
                <hr>
                {% endfor %}
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}